html {
  /* background: linear-gradient(#e66465, #9198e5); */
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(#e66465, #9198e5) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 850px;
  min-height: 350px;
}

header {
  display: flex;
  justify-content: center;
  background: url(http://i.giphy.com/3XlEk2RxPS1m8.gif);
  background-size: cover;
  background-position-y: 24%;
  position: fixed;
  width: -webkit-fill-available;
  height: 20vh;
}

.cutout-text {
  width: 180vh;
  height: 20vh;
  font-size: 20vh;
  font-weight: bolder;
  text-align: center;
  line-height: 20vh;
  background: linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  color: transparent;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

main {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
  align-items: center;
  padding-top: 11%;
}

.deck__block {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 2%;
  margin: 0 5%;
}

.deck__image__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 47vh;
  border-radius: 10px;
}

.deck__image__container > img {
  object-fit: cover;
  object-position: 1px 24px;
  object-position: 1px 24px;
  height: 130%;
}

#deck__p1__image__container {
  background-color: blue;
  margin-left: 5%;
  box-shadow: 0px 0px 20px 12px #f900ca;
}

#deck__p2__image__container {
  background-color: red;
  margin-right: 5%;
  box-shadow: 0px 0px 20px 12px #2fff4b;
}

#deck__discard-pile {
  margin: 0 2.5%;
  margin-bottom: 15.2%;
}

#deck__discard-pile > img {
  background-color: black;
  object-position: 0px 0px;
}

.--glow1 {
  margin-left: 5%;
  box-shadow: 0px 0px 20px 12px #f900ca;
}

.--glow2 {
  margin-right: 5%;
  box-shadow: 0px 0px 20px 12px #2fff4b;
}

p {
  font-family: sans-serif;
  color: aliceblue;
  text-align: center;
  position: relative;
  top: 6%;
  font-size: 33px;
  margin-top: 0px;
}

.--danger-text {
  color: red;
  animation-name: pulse;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  transition: all .1s ease-out;
  font-weight: bolder;
}

@keyframes pulse {
  0% {
  }
  50% {
    transform: scale(1.2);
  }
  100% {
  }
}

#main__get-started {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: darksalmon;
  height: 58%;
  width: 24%;
  border-radius: 12px;
  border-radius: 12px;
  font-family: sans-serif;
  color: blanchedalmond;
  text-align: center;
  top: 20%;
  left: 36%;
  box-shadow: inset 1px 2px 20px 20px black;
}

#main__get-started > h1 {
  text-align: center;
  font-size: 60px;
}

#main__get-started > div {
  display: flex;
  justify-content: space-evenly;
  font-size: 42px;
  background: blanchedalmond;
  color: darksalmon;
}

#main__get-started > div > section {
  line-height: 1vw;
}

#main__get-started > button {
  font-size: 66px;
  display: block;
  height: -webkit-fill-available;
  font-family: sans-serif;
  font-weight: bolder;
  border: none;
  background-color: darksalmon;
  color: blanchedalmond;
}

.--goaway {
  visibility: hidden;
}

.--hidden {
  opacity: 0;
}

button {

}
