html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(#e66465, #9198e5) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 850px;
  min-height: 350px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

main {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
  align-items: center;
  padding-top: 11%;
}

p {
  font-family: sans-serif;
  color: aliceblue;
  text-align: center;
  position: relative;
  top: 6%;
  font-size: 33px;
  margin-top: 0px;
}

button {

}

/*  Tutorial/Start game box   */

#main__get-started {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: darksalmon;
  height: 65vh;
  width: 65vh;
  border-radius: 50%;
  color: aliceblue;
  text-align: center;
  padding: 2%;
  top: 25%;
  left: 31%;
}

#main__get-started__controls {
  text-align: initial;
  padding-left: 2vw;
}

#main__get-started__rules {
  text-align: center;
  padding: 0 2vw;
  padding-left: 3vw;
}

#main__get-started > h1 {
  text-align: center;
  margin: 9% 8%;
  font-size: 5vh;
}

#main__get-started > div {
  display: flex;
  justify-content: space-evenly;
  font-size: 42px;
  padding-left: 2.5vw;
}

#main__get-started > div > section {
  line-height: 1vw;
}

#main__get-started > div > section > h3 {
  font-size: 3.1vh;
  margin-top: 0px;
  text-align: center;
}

#main__get-started > div > section > h5 {
  font-size: 2.2vh;
  line-height: initial;
  color: blanchedalmond;
}

#main__get-started__button {
  font-size: 11vh;
  display: block;
  font-weight: bolder;
  cursor: pointer;
  position: initial;
  transition: all 0.2s ease;
}

#main__get-started__button:hover {
  transform: scale(1.2);
}

#main__get-started:hover {
  animation-name: excited;
  animation-duration: .05s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*    header and header text    */

header {
  display: flex;
  justify-content: center;
  background: url(http://i.giphy.com/3XlEk2RxPS1m8.gif);
  background-size: cover;
  background-position-y: 24%;
  opacity: .8;
  position: fixed;
  width: -webkit-fill-available;
  height: 20vh;
}

.cutout-text {
  width: 180vh;
  height: 20vh;
  font-size: 20vh;
  font-weight: bolder;
  text-align: center;
  line-height: 20vh;
  background: linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  color: transparent;
}

/*    Card decks    */

.deck__block {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 2%;
  margin: 0 5%;
}

.deck__image__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 47vh;
  border-radius: 10px;
}

.deck__image__container > img {
  object-fit: cover;
  object-position: 1px 24px;
  object-position: 1px 24px;
  height: 130%;
}

#deck__p1__image__container {
  background-color: blue;
  margin-left: 5%;
  box-shadow: 0px 0px 20px 12px #f900ca;
}

#deck__p2__image__container {
  background-color: red;
  margin-right: 5%;
  box-shadow: 0px 0px 20px 12px #2fff4b;
}

#deck__discard-pile {
  margin: 0 2.5%;
  margin-bottom: 15.2%;
}

#deck__discard-pile > img {
  background-color: black;
  object-position: 0px 0px;
}

/*    Visual Play Indicators    */

.--what-happened {
  animation-name: pulsePlayer;
  animation-duration: .8s;
  animation-iteration-count: 1;
  transition: all .2s ease-out;
}

.--turn {
  animation-name: pulsePlayer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all .1s ease-out;
}

.--glow1 {
  margin-left: 5%;
  box-shadow: 0px 0px 20px 12px #f900ca;
}

.--glow2 {
  margin-right: 5%;
  box-shadow: 0px 0px 20px 12px #2fff4b;
}

.--danger-text {
  color: red;
  animation-name: pulse;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  transition: all .1s ease-out;
  font-weight: bolder;
}

/*      Animations      */

@keyframes pulse {
  0% {
  }
  50% {
    transform: scale(1.2);
  }
  100% {
  }
}

@keyframes pulsePlayer {
  0% {
  }
  50% {
    transform: scale(1.05);
  }
  100% {
  }
}

@keyframes excited {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(1%);
  }
}

/*      Hide things    */

.--goaway {
  visibility: hidden;
}

.--hidden {
  opacity: 0;
}
