html {
  background: linear-gradient(#e66465, #9198e5);
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

.deck {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 60%;
  width: 18%;
  border-radius: 10px;
}

.deck > img {
  object-fit: cover;
  object-position: 1px 24px;
  object-position: 1px 24px;
  height: 130%;
}

.deck__player {

}

#deck__player1 {
  background-color: blue;
  margin-left: 5%;
  box-shadow: #DE7A83;
}

#deck__player2 {
  background-color: red;
  margin-right: 5%;
}

.deck__discard-pile > img {
  background-color: black;
  object-position: 0px 0px;
}
